html{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#nameDiv{
    position: absolute;
    top: 60%;
    width: 99%;
    text-align: center;
    color: white;
    font-size: 200%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.imageDiv {
    position: relative;
    float: left;
    background: none repeat scroll 0% 0% blue;
    overflow: hidden;
    width: 33.333%;
    height: 50%;
    background-size: cover;
}
#pic1{
    background-image: url("../images/mitre.JPG");
}
#pic2{
    background-image: url("../images/backPortugal.JPG");
}
#pic3{
    background-image: url("../images/paul.JPG");
}
#pic4{
    background-image: url("../images/m&m.JPG");
}
#pic5{
    background-image: url("../images/stairs.JPG");
}
#pic6{
    background-image: url("../images/towerBridge.JPG");
}
