html{
    background: url(../images/backPortugal.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nameDiv{
    position: absolute;
    top: 60%;
    width: 99%;
    text-align: center;
    color: white;
    font-size: 200%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.menu{
    position: absolute;
    top: 80%;
    color: white;
    text-align: center;
    display: table;
    padding: 0;
    width: 98%;
}
.menu li{
    display: table-cell;
}
.menu li ul{
    visibility: 'hidden'; 
    list-style-type: none;
    position: absolute;
    top: -550%;
    margin-left: 120px;
}

.menu li ul li{
    display: block;
    float: none;
    margin-bottom: 50px;
}
